

#TitrePartie
{
	color:#6A6C71;
	font-size:20pt;
}

#Parties
{
	display: inline;
	border: 0px solid #FCFDFD;
	font-family: Futura, Tahoma, sans-serif;
	color: #FCFDFD;
	padding:0;
	border-radius:0;
	background-color:none;
	font-size:14pt;
}