body
{
	background: url('walkpaper_black.jpg');
	background-size:cover;
	display: inline;
}

a
{
	text-decoration: none;
	color: #FCFDFD
}

a:hover
{
	color: #00BCE2;
}

#titre 
{
	font-family: Vivaldi;
	text-align: center;
	font-size: 40px;
	color: #FCFDFD;
	
}

#navbar
{
	position: fixed;
	top:10px;
	left:45%;
	margin-left:-254px;
}

#endmenu
{
	position: fixed;
	bottom:30px;
	left:55%;
	margin-left:-254px;
}

ul
{
	list-style-type: none;
	position: fixed;
	margin: 1px 1px 1px 1px;
}

li 
{
	display: inline;
	border: 2px solid #000000;
	font-family: Futura, Tahoma, sans-serif;
	color: #6A6C71;
	padding: 5px;
	border-radius: 5px 5px;
	background-color: #6A6C71;
}