body
{
	background: url('walkpaper_black.jpg');
	background-size:cover;
}

a
{
	text-decoration: none;
	color: #FCFDFD
}

a:hover
{
	color: #00BCE2;
}

div#conteneur
{
	width:100%;
}

#titre 
{
	font-family: Vivaldi;
	text-align: center;
	font-size: 40px;
	color: #FCFDFD;
}

div#navbar
{
	width:100%;
	font-size:13pt;
	float:center;
	text-align:center;
	position: fixed;
}

div#endmenu
{
	width:99%;
	font-size:13pt;
	float:center;
	text-align:center;
	bottom:10px;
}

#base
{
	list-style-type: none;
	margin: 0 auto;
}

#li1
{
	display: inline;
	border: 2px solid #000000;
	font-family: Futura, Tahoma, sans-serif;
	color: #6A6C71;
	padding: 5px;
	border-radius: 5px 5px;
	background-color: #6A6C71;
}