body
{
	color: #FCFDFD;
	font-family: Times New Roman;
}

#new
{
	color: #FCFDFD;
	border: 2px solid black;
	background-color: #343434;
	border-radius: 7px;
	padding: 3px;
	font-family: Times New Roman;
	left: 400px;
	top: 200px;
}

#StarTrek
{
	width: 320px;
	height: 120px;
	position: absolute;
	left: 1px;
	top: 1px;
}

